#######################################
# $ cp env-example .env
#######################################

# timezone and source site
TZ=Asia/Shanghai
CHANGE_SOURCE=false

# Web application path
WORK_DIR=./

# php-fpm
PHP_VERSION=7.3
EXT_SWOOLE_VERSION=
EXT_MONGODB_VERSION=
INSTALL_XDEBUG=false

# Nginx
NGINX_VERSION=stable

# # MySQL
# MYSQL_VERSION=5.6
# DB_MYSQL_PATH=/data/db/mysql
# MYSQL_ROOT_PASSWORD=123456
# MYSQL_PORT=3306
# MYSQL_USER=guitar
# MYSQL_PASSWORD=53231323
# MYSQL_DATABASE=just4test

# # MongoDB
# MONGO_VERSION=3.0.15
# DB_MONGO_PATH=/data/db/mongodb
# MONGO_PORT=27017
# MONGO_ROOT_USER=root
# MONGO_ROOT_PASS=123456
# MONGO_DATABASE=just4test
